        div {
            margin-right: 150px;
            margin-left: 80px;
        }

        table,
        td {
            border: 1px solid #333;
        }

        .xiaomi {
            color: red;
        }

        .galaxy {
            color: blue;
        }

        .iphone {
            color: green;
        }

        .imi9 {
            height: 200px;
            width: 200px;
            padding: 20px;
            border: solid black;
        }

        .iS10 {
            height: 200px;
            width: 200px;
            padding: 20px;
            border: solid black;
        }

        .i11 {
            height: 200px;
            width: 200px;
            padding: 20px;
            border: solid black;
        }